/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Sansita:wght@400;700;800;900&display=swap');

/* Fonts */
.mon-medium {
  font-family: "Montserrat";
  font-weight: 600;
}

/* Font Color */
.green {
  color: #11484f;
}

.white {
  color: #ffffff;
}

/* Buttons */

.btn-potluck {
  max-width: 320px !important;
  width: 100%;
  border-radius: 15px;
  border: none;
  background-color: aliceblue;
  font-family: "Montserrat";
  font-weight: 500;
  padding: 5px;
  color: #11484f;
}

/* Navigation */
.nav-container {
  background-color: aliceblue;
}

.nav-link-item {
  text-decoration: none;
}

.nav-link-item:hover {
  color: #11484f;
}

/* Hero */
.hero-container {
  background-image: url("../src/assets/hero-img.png");
  height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}


/* Forms */

form {
  max-width: 1000px !important;
  width: 100%;
}

.form-container input {
  border: 1px solid #11484f;
  border-radius: 5px;
}

/* Event List */
.event-container {
  max-width: 1200px;
}

.event-item {
  border: 1px solid #11484f;
  border-radius: 10px;
}

.event-link {
  background-color: #11484f;
  border-radius: 5px;
  width: 100%;
  max-width: 200px;
  text-decoration: none;
  text-align: center;
}